
.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #F7FAFC;
}

.scrollableContent {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.contentWrapper {
  max-width: 448px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}


.pageHeader {
  font-size: 25px;
  font-weight: 600;
  color: #1F2937;
  text-align: center;
  margin: 0;
}


.successCard {
  background: #d1e2e8;
  border: 1px solid #C5DDE6;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.successHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}

.successIcon {
  width:50px;
  height: 50px;
  color: #195A7D;
  flex-shrink: 0;
}

.successText {
  font-size: 20px;
  color: #050506;
}

.forText {
  font-size: 18px;
  color: #090a0a;
  margin: 4px 0 4px 0;
}

.candidateName {
  font-size: 22px;
  font-weight: 600;
  color: #195A7D;
  margin: 0;
  margin-bottom: 18px;
  margin-top: 18px;
}


.nextStepCard {
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 50px;
}

.nextStepTitle {
  font-size: 22px;
  font-weight: 700;
  color: #195A7D;
  margin: 0 0 12px 0;
}

.nextStepText {
  font-size: 20px;
  color: #16181b;
  margin: 0 0 8px 0;
  line-height: 1.5;
}

.nextStepText:last-child {
  margin-bottom: 0;
}

.boldItalic {
  font-weight: 600;
  font-style: italic;
}


.instructionsCard {
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.instructionsTitle {
  font-size: 22px;
  font-weight: 600;
  color: #195A7D;
  margin: 0 0 30px 0;
  line-height: 1.4;
}

.stepsList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.stepItem {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.stepNumber {
  width: 35px;
  height: 35px;
  min-width: 35px;
  border: 2px solid #121213;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: #080808;
}

.stepText {
  font-size: 20px;
  color: #0f1011;
  margin: 0;
  line-height: 1.5;
  padding-top: 1px;
}


.fixedBottomSection {
  background: #F7FAFC;
  padding: 16px;
}

.bottomContainer {
  max-width: 448px;
  margin: 0 auto;
}

.continueButton {
  width: 100%;
  padding: 14px 0;
  background: #195A7D;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 50px;
  margin-bottom: 20px;
}

.continueButton:hover {
  background: #134a66;
}

.continueButton:focus {
  outline: 2px solid #195A7D;
  outline-offset: 2px;
}

.buttonItalic {
  font-style: normal;
}